<table>
    <thead>
        <td>{{ques.questionId}}</td>
        <td>{{ques.questionString}}</td>
        <td></td>
    </thead>
    <tbody>
        <tr *ngFor="let recipient of optionmap | keyvalue; let idx = index">
        <td>
            <input type="radio" name="radiogroup" [checked]="idx === 0" (change)="onSelectionChange(idx)">
        </td>
        <td>{{ recipient.value }}</td>
        </tr>
        <td>
            <button (click)="moveQuestion('prev')">Prev</button>
            <button (click)="moveQuestion('next')">Next</button>
            <button (click)="getTheDevice()">Submit</button>
        </td>
        <tr *ngFor="let recipient of recommendedDevices">
            <td>{{recipient.deviceId}}</td>
            <td>{{recipient.deviceName}}</td>
            <td>{{recipient.screenSize}}</td>
            <td>{{recipient.touch}}</td>
        </tr>
    </tbody>
</table>