 Welcome {{title}}

<html>
     <script>
     function showCustomers(){
       console.log("hello");
     }
     </script>

  <body>
    <div id="firstElement">
          <h2>Are you a</h2><br>
           <input name="options"  [(ngModel)]="options" type="radio" [value]="true" /> Customer
           <input name="options" [(ngModel)]="options" type="radio" [value]="false" /> Sales
    </div>

    <h2 *ngIf="!options">Viola! You are a Philips Sales Employee</h2>
    <div id="typeOfCustomer" *ngIf="options">
        <h2>Are you a</h2><br>
           <!-- <input name="customerType" type="radio" value="NEW CUSTOMER" routerLink="/newcustomer" routerLinkActive="active"/> NEW CUSTOMER? 
           <br><br>
           <input name="customerType" type="radio" value="OLD CUSTOMER" routerLink="/oldcustomer" routerLinkActive="active"/> OLD CUSTOMER? -->

            <input name="customerType" type="radio" value="NEW CUSTOMER" [(ngModel)]="yourmodel" /> NEW CUSTOMER? 
           <br><br>
           <input name="customerType" type="radio" value="OLD CUSTOMER" [(ngModel)]="yourmodel" /> OLD CUSTOMER?
           
    </div>
    <!-- <router-outlet (valueChange)="customFunc($event)"></router-outlet> -->

    <app-newcustomer *ngIf="yourmodel" (valueChange)="customFunc($event)"></app-newcustomer>

    <app-chat *ngIf="totalcartval" ></app-chat>

  </body>
</html>


